<p>
  <strong>Helm:</strong>
  <%= equip.helm %>
</p>

<p>
  <strong>Armor:</strong>
  <%= equip.armor %>
</p>

<p>
  <strong>Accessory:</strong>
  <%= equip.accessory %>
</p>

<p>
  <strong>Weapon:</strong>
  <%= equip.weapon %>
</p>