<h1>Last of the Fallen</h1>

<ul>
    <% @units.each do |unit| %>
        <li>
            <%= link_to unit.name, unit %>
        </li>
    <% end %>
</ul>

<div class = "create"><%= link_to "New Character", new_unit_path %></div><br/>
<%= link_to "New Location", new_location_path %>

