<h1><%= @unit.locate %></h1>

<% @unit.locations.each do |location| %>
  <p>
    <strong>Shop:</strong>
    <%= location.shop %>
  </p>

  <p>
    <strong>Bank:</strong>
    <%= location.bank %>
  </p>

  <p>
    <strong>Quest:</strong>
    <%= location.quest %>
  </p>
<% end %>